#Testata{
    margin-top: 10px;
    padding:0px 5px;
    background-color:white;
    padding: 5px;

}

.Plessi{
    
    border-radius: 4px ;
    margin: 10px;
    border: 1px solid #8f8f8f;    
    background-color: #ececec;
     
}



#Coloriprimescritte{
    color:#808080;

}


#Tasti{

    border: 1px solid #000080;
    background-color: blue;
    margin:5px;
}
#Bottoninavbar{
    background-color: blue;
     color: white;
     border:black;
     border-radius: 10px;
}

#Centrato{
    text-align: center;
}

#Giallo{

    background-color: yellow;
}

#Blu{
    background-color:blu;
}

#Bianco{

    color: white;
}

#Gainsboro{
    background-color:gainsboro;
}

#Ghostwhite{
    background-color: ghostwhite; width: auto; float: center;
}

#Immaginerepubblica{
    width: 180px;

}

#Immaginecertiquality{

    width: 140px;
}

#scritte{
    color: blue;
    margin:5px 0px;
    float:left;
}

#immagini{

    width: 130px;
    text-align: center;
    image-orientation: center;
    margin:5px;
}

#Titoli{

    color: blue;
    margin: 10px;
}

#Sottotitoli{

    color: red;
    margin:10px 5px;
}

#Titolini{
    color: blue;
    margin:20px 10px;

}

#Scrittenormali{
    margin:5px;

}

#Scritteplessi{
    margin-top: 5px;
}

#Bottonicookie{
    font-size: 15px; margin-top:30px;
}

#Scrittafinale1{
    text-align: center; font-size: 13px;
}

#Scrittafinale2{
    text-align: center; font-size: 10px;
}

mark {
    background-color: 	yellow;
    color: #000066;
  }


